@import "tailwindcss";

/* @plugin "tailwindcss-animate"; */

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-900: #0A196F;
  --color-primary-800: #102587;
  --color-primary-700: #1A37A7;
  --color-primary-600: #264BC8;
  --color-primary-500: #3563E9;
  --color-primary-400: #658DF1;
  --color-primary-300: #85A8F8;
  --color-primary-200: #AEC8FC;
  --color-primary-100: #D6E4FD;

  --color-success-900: #3B6506;
  --color-success-800: #4C7A0B;
  --color-success-700: #659711;
  --color-success-600: #7FB519;
  --color-success-500: #9CD323;
  --color-success-400: #BCE455;
  --color-success-300: #D3F178;
  --color-success-200: #E8FAA6;
  --color-success-100: #F5FCD2;

  --color-error-900: #7A0619;
  --color-error-800: #930B16;
  --color-error-700: #B71112;
  --color-error-600: #DB2719;
  --color-error-500: #FF4423;
  --color-error-400: #FF7F59;
  --color-error-300: #FFA37A;
  --color-error-200: #FFC8A6;
  --color-error-100: #FFE7D3;

   --color-warning-900: #7A4D0B;
    --color-warning-800: #936312;
    --color-warning-700: #87821D;
    --color-warning-600: #DBA32A;
    --color-warning-500: #FFC73A;
    --color-warning-400: #FFD96B;
    --color-warning-300: #FFE488;
    --color-warning-200: #FFEFB0;
    --color-warning-100: #FFF8D7;

    --color-information-900: #102E7A;
    --color-information-800: #1A4393;
    --color-information-700: #2A60B7;
    --color-information-600: #3D81DB;
    --color-information-500: #54A6FF;
    --color-information-400: #7EC2FF;
    --color-information-300: #98D3FF;
    --color-information-200: #BAE5FF;
    --color-information-100: #DCF3FF;

    --color-secondary-900: #040815;
    --color-secondary-800: #080C19;
    --color-secondary-700: #0D121F;
    --color-secondary-600: #131825;
    --color-secondary-500: #1A202C;
    --color-secondary-400: #596780;
    --color-secondary-300: #90A3BF;
    --color-secondary-200: #C3D4E9;
    --color-secondary-100: #E0E9F4;

    --color-default-background: #F6F7F9;

    --font-default: var(--font-default), Arial, sans-serif;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

